SetEnv SUPERGLUE_VERSION 0.1-git_1
SetEnv SUPERGLUE_BASE http://superglue.local:8000/
SetEnv SUPERGLUE_CALLBACK Superglue:


<IfModule mod_headers.c>
    Header add X-Superglue-Version "%{SUPERGLUE_VERSION}e"
    Header add X-Superglue-Base "%{SUPERGLUE_BASE}e"

    <Files ~ "\.">
        Header set X-Superglue-Dotless "text/html Content-Type was forced"
        Header set Content-Type "text/html"
    </Files>
</IfModule>

<IfModule mod_rewrite.c>
#    <IfModule mod_negotiation.c>
#        Options -MultiViews
#    </IfModule>

#    AddType application/x-httpd-php .php .phar

    RewriteEngine On

    # Redirect Trailing Slashes...
#    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Commands
    RewriteCond %{REQUEST_METHOD} =POST
    RewriteRule ^cmd Superglue.loader.php [L]

    # Handle File uploads
    RewriteCond %{REQUEST_METHOD} =PUT
    RewriteRule ^ Superglue.loader.php [L]

    # Handle Special-Calls
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_URI} .*%{ENV:SUPERGLUE_CALLBACK}.*
    RewriteCond expr "! %{REQUEST_URI} -strmatch '/${ENV:SUPGERGLUE_CALLBACK}*'"
    RewriteRule ^ Superglue.loader.php [L]

    # Handle Front Controller...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^ Superglue.loader.php [L]
</IfModule>
